
.hero_container {
    width: inherit;
    padding: 25vh;
}

/*flex*/
.hero_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 15vh;
    margin: 5vh;
    height: inherit;
}

.hero_row {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: inherit;
}

/*Text Css*/
.text_center {
    text-align: center;
}


@media screen and (max-width: 425px) {
    * {
        text-align: center;
    }

    .hero_row {
        flex-direction: column;
    }

    .hero_col {
        padding: 5vh;
    }

    .hero_container {
        padding: 5vh;
    }
}